# ==========================================
# GABARITO DE VARIÁVEIS DE AMBIENTE
# Copie este arquivo, renomeie para .env e 
# preencha com as suas credenciais reais.
# ==========================================

# Conexão com o PostgreSQL (Credenciais padrão do docker-compose local)
DATABASE_URL="postgresql://admin:root@localhost:5432/shortener?schema=public"

# Conexão com o Redis (Padrão do docker-compose local)
REDIS_URL="redis://localhost:6379"

# Porta onde o servidor Node.js vai rodar
PORT=3000